In [27]:
import numpy as np
import pandas as pd

In [28]:
def gaussian(x, mu, sigma):
    return 1 / (np.sqrt(2*np.pi)*sigma) \
    * np.exp(-np.power(x-mu,2)/(2*np.power(sigma,2)))

In [190]:
df = pd.read_csv('data/lat_of_fish.csv')
df.head()

        sst  lat_of_mackerel  lat_of_menhaden         time  seasonal
0  6.399033        50.000000        53.000000  2018.000000 -1.382851
1  6.401424        50.003253        53.003253  2018.083472 -1.245809
2  6.404461        50.007385        53.007385  2018.166945 -0.994595
3  6.407805        50.011934        53.011934  2018.250417 -0.704210
4  6.411156        50.016494        53.016494  2018.333890 -0.125891

In [192]:
def fish_density(lat, lat_of_mackerel, lat_of_menhaden):
    return gaussian(lat, lat_of_mackerel, np.sqrt(6))\
           + gaussian(lat, lat_of_menhaden, np.sqrt(6))
array = fish_density(np.linspace(40, 60), 50, 53)

In [193]:
def best_reward(start_lat, move_time, lat_of_mackerel, lat_of_menhaden):
    if start_lat <= np.mean([lat_of_mackerel, lat_of_menhaden]):
        return 1/week * (8*week-move_time) * fish_density(start_lat+0.2*move_time, lat_of_mackerel, lat_of_menhaden)
    if start_lat > np.mean([lat_of_mackerel, lat_of_menhaden]):
        return 1/week * (8*week-move_time) * fish_density(start_lat+0.2*move_time, lat_of_mackerel, lat_of_menhaden)

In [194]:
def best_reward_total(start_lat, move_time, sample=50):
    sum = 0
    df_sample = df.sample(sample, random_state=0)
    for index, row in df_sample.iterrows():
        sum += best_reward(start_lat, move_time, row['lat_of_mackerel'], row['lat_of_menhaden'])
    sum /= sample
    sum *= len(df)
    return sum

In [82]:
from sko.SA import SA
from plotnine import *

In [213]:
def best_reward_for_sa(x):
    if x[1] < 0 or x[1] > 36 or x[0] < 50 or x[0] > 62:
        return np.Inf
    # x[0] 表示纬度, x[1] 表示移动时间
    return -best_reward_total(x[0], x[1], sample=10)

week = 1
x_history_list, y_history_list = [], []
x_result_list, y_result_list = [], []
for i in range(6):
    sa = SA(func=best_reward_for_sa, x0=[53, 10], T_max=1, T_min=1e-9, L=300, max_stay_counter=150)
    x_result, y_result = sa.run()
    x_history_list.append(sa.best_x_history)
    y_history_list.append(sa.best_y_history)
    x_result_list.append(x_result)
    y_result_list.append(y_result)

In [225]:
np.array(y_history_list[1])

array([1.00000000e+01, 1.18668361e+00, 2.33096051e-01, 2.73893100e-01,
       2.73893100e-01, 2.73893100e-01, 2.73893100e-01, 1.37545030e-01,
       1.37545030e-01, 1.37545030e-01, 1.37545030e-01, 4.35600299e-02,
       4.35600299e-02, 4.35600299e-02, 2.35878793e-02, 2.35878793e-02,
       1.70323250e-02, 1.70323250e-02, 1.62078395e-02, 1.80245776e-03,
       7.65574512e-04, 2.12195501e-04, 2.12195501e-04, 2.12195501e-04,
       1.70479886e-04, 1.70479886e-04, 1.10009202e-04, 7.63459413e-05,
       6.85073073e-06, 4.37542922e-05, 4.37542922e-05, 4.37542922e-05,
       4.37542922e-05, 7.24382758e-06, 8.44238847e-06, 8.44238847e-06,
       6.73513952e-06, 4.07723780e-06, 2.34461258e-06, 1.37606078e-06,
       1.37606078e-06, 8.69547931e-07, 8.69547931e-07, 6.35735751e-07,
       6.35735751e-07, 6.35735751e-07, 1.07301940e-07, 4.96072868e-08,
       5.46164795e-08, 5.46164795e-08, 1.69037367e-08, 1.69037367e-08,
       1.69037367e-08, 1.69037367e-08, 1.69037367e-08, 1.15803927e-08,
       1.15803927e-08, 5.75755660e-09])

In [238]:
df_list = []
for i in range(6):
    df_temp = pd.DataFrame({
        'x': np.array(x_history_list[i])[:,0],
        't': np.array(x_history_list[i])[:,1],
        'reward': -np.array(y_history_list[1]),
        'time': i,
    })
    df_list.append(df_temp)
df_temp = pd.concat(df_list)
df_temp = df_temp.drop(labels=0)
df_temp

            x             t       reward  time
1   53.041044  1.223879e+00  1092.855776     0
2   53.041044  1.223879e+00  1155.082418     0
3   54.094154  3.120265e-01  1235.736650     0
4   53.556634  4.514678e-02  1235.736650     0
5   53.556634  4.514678e-02  1235.736650     0
..        ...           ...          ...   ...
53  52.511669  5.711937e-10  1283.571802     5
54  52.511669  5.711937e-10  1283.571802     5
55  52.511669  5.711937e-10  1283.571802     5
56  52.511669  5.711937e-10  1283.571802     5
57  52.511926  1.414874e-08  1283.571803     5

[342 rows x 4 columns]

In [240]:
(
    ggplot(df_temp, aes('x', 't', color='reward'))
    + geom_path()
    + geom_point(aes(size='reward'))
    + facet_wrap('time')
    + labs(x='Start Latitude',
           y='Voyage Time',
           title='Iterative Process of Simulated Annealing Algorithm')
).save('img/fish/iterative process of simulated annealing algorithm.png')

c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:727: PlotnineWarning: Saving 6.4 x 4.8 in image.
c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:730: PlotnineWarning: Filename: img/fish/iterative process of simulated annealing algorithm.png

In [40]:
array = np.concatenate([np.array(sa.best_x_history),
                        np.array(sa.best_y_history).reshape(-1,1)], axis=1)
df_result = pd.DataFrame(array, columns=['start_lat', 'move_time', 'reward'])
df_result['reward'] = -df_result['reward']

(
    ggplot(df_result,aes(x='start_lat', y='move_time'))
    + geom_point(aes(color='reward', size=1.5))
    + geom_path(alpha=.8, color='coral')
    + labs(x='Start Latitude',
           y='Voyage Time',
           title='Relation of Remuneration to Latitude of Origin and Time of Voyage')
).save('img/fish/relation of remuneration to latitude of origin and time of voyage.png')

c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:727: PlotnineWarning: Saving 6.4 x 4.8 in image.
c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:730: PlotnineWarning: Filename: img/fish/relation of remuneration to latitude of origin and time of voyage.png

In [200]:
def best_reward_for_sa_with_lat_limit(x):
    # x[0] 表示移动时间
    if x[0] < 0 or x[0] > 8 * week:
        return np.Inf
    return -best_reward_total(50, x[0], sample=10)

week = 7
sa2 = SA(func=best_reward_for_sa_with_lat_limit, x0=[8], T_max=1, T_min=1e-9, L=300, max_stay_counter=150)
x_result, y_result = sa2.run()
-y_result * 3179.1

3351873.3854918564

In [42]:
array = np.concatenate([np.array(sa2.best_x_history),
                        np.array(sa2.best_y_history).reshape(-1,1)], axis=1)
df_result = pd.DataFrame(array, columns=['move_time', 'reward'])
df_result['reward'] = -df_result['reward']
df_result = df_result.drop(labels=0)

(
    ggplot(df_result,aes(x='move_time', y='reward'))
    + geom_point(aes(color='reward'), size=1.5)
    + geom_path(alpha=.8, color='coral')
    + labs(x='Voyage Time',
           y='Reward',
           title='Relationship between Earnings and Voyage Time at Latitudes 50°N')
).save('img/fish/relationship between earnings and voyage time at latitudes 50°N.png')

c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:727: PlotnineWarning: Saving 6.4 x 4.8 in image.
c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:730: PlotnineWarning: Filename: img/fish/relationship between earnings and voyage time at latitudes 50°N.png

In [149]:
def best_reward_for_sa_on_lat_50(x):
    if x[0]<0 or x[0]>8 * week:
        return np.Inf
    return -best_reward(50, x[0], df.loc[index]['lat_of_mackerel'],
                        df.loc[index]['lat_of_menhaden'])

result_dict = {}
for week in [1,3,5,7]:
    print(str(week) + ':')
    x_result_list, y_result_list = [], []
    for index in range(0, len(df), 10):
        print(str(int(index/len(df)*100)) + '%', end=' ')
        if index != 0 and index % 100 == 0:
            print()
        sa3 = SA(func=best_reward_for_sa_on_lat_50,
                 x0=[0])
        x_result, y_result = sa3.run()
        x_result_list.append(x_result)
        y_result_list.append(y_result)
    result_dict[week] = np.concatenate([np.array(x_result_list), np.array(y_result_list).reshape(-1,1)], axis=1)
    print()
result_dict

1:
0% 1% 3% 5% 6% 8% 10% 11% 13% 15% 16%
18% 20% 21% 23% 25% 26% 28% 30% 31% 33%
35% 36% 38% 40% 41% 43% 45% 46% 48% 50%
51% 53% 55% 56% 58% 60% 61% 63% 65% 66%
68% 70% 71% 73% 75% 76% 78% 80% 81% 83%
85% 86% 88% 90% 91% 93% 95% 96% 98%
3:
0% 1% 3% 5% 6% 8% 10% 11% 13% 15% 16%
18% 20% 21% 23% 25% 26% 28% 30% 31% 33%
35% 36% 38% 40% 41% 43% 45% 46% 48% 50%
51% 53% 55% 56% 58% 60% 61% 63% 65% 66%
68% 70% 71% 73% 75% 76% 78% 80% 81% 83%
85% 86% 88% 90% 91% 93% 95% 96% 98%
5:
0% 1% 3% 5% 6% 8% 10% 11% 13% 15% 16%
18% 20% 21% 23% 25% 26% 28% 30% 31% 33%
35% 36% 38% 40% 41% 43% 45% 46% 48% 50%
51% 53% 55% 56% 58% 60% 61% 63% 65% 66%
68% 70% 71% 73% 75% 76% 78% 80% 81% 83%
85% 86% 88% 90% 91% 93% 95% 96% 98%
7:
0% 1% 3% 5% 6% 8% 10% 11% 13% 15% 16%
18% 20% 21% 23% 25% 26% 28% 30% 31% 33%
35% 36% 38% 40% 41% 43% 45% 46% 48% 50%
51% 53% 55% 56% 58% 60% 61% 63% 65% 66%
68% 70% 71% 73% 75% 76% 78% 80% 81% 83%
85% 86% 88% 90% 91% 93% 95% 96% 98%

{1: array([[ 0.        , -1.91840532],
        [ 0.        , -1.90734859],
        [ 0.        , -1.89888193],
        [ 0.        , -1.88995161],
        [ 0.        , -1.880852  ],
        [ 0.        , -1.87165447],
        [ 0.        , -1.86233302],
        [ 0.        , -1.85289249],
        [ 0.        , -1.8433353 ],
        [ 0.        , -1.83366308],
        [ 0.        , -1.82387776],
        [ 0.        , -1.81398127],
        [ 0.        , -1.80397558],
        [ 0.        , -1.79386265],
        [ 0.        , -1.78364449],
        [ 0.        , -1.77332311],
        [ 0.        , -1.76290055],
        [ 0.        , -1.75237887],
        [ 0.        , -1.74176017],
        [ 0.        , -1.73104653],
        [ 0.        , -1.72024008],
        [ 0.        , -1.70934295],
        [ 0.        , -1.69835731],
        [ 0.        , -1.68728532],
        [ 0.        , -1.67612918],
        [ 0.        , -1.66489109],
        [ 0.        , -1.65357326],
        [ 0.        , -1.64217795],
        [ 0.        , -1.63070739],
        [ 0.        , -1.61916384],
        [ 0.        , -1.60754959],
        [ 0.        , -1.59586692],
        [ 0.        , -1.58411813],
        [ 0.        , -1.57230552],
        [ 0.        , -1.56043142],
        [ 0.        , -1.54849814],
        [ 0.        , -1.53650803],
        [ 0.        , -1.52446342],
        [ 0.        , -1.51236667],
        [ 0.        , -1.50022013],
        [ 0.        , -1.48802616],
        [ 0.        , -1.47578711],
        [ 0.        , -1.46350537],
        [ 0.        , -1.4511833 ],
        [ 0.        , -1.43882327],
        [ 0.        , -1.42642764],
        [ 0.        , -1.41399881],
        [ 0.        , -1.40153913],
        [ 0.        , -1.38905098],
        [ 0.        , -1.37653672],
        [ 0.        , -1.36399872],
        [ 0.        , -1.35143935],
        [ 0.        , -1.33886095],
        [ 0.        , -1.32626588],
        [ 0.        , -1.31365648],
        [ 0.        , -1.30103509],
        [ 0.        , -1.28840403],
        [ 0.        , -1.27576563],
        [ 0.        , -1.26312219],
        [ 0.        , -1.25047602]]),
 3: array([[ 0.        , -1.91840532],
        [ 0.        , -1.90734859],
        [ 0.        , -1.89888193],
        [ 0.        , -1.88995161],
        [ 0.        , -1.880852  ],
        [ 0.        , -1.87165447],
        [ 0.        , -1.86233302],
        [ 0.        , -1.85289249],
        [ 0.        , -1.8433353 ],
        [ 0.        , -1.83366308],
        [ 0.        , -1.82387776],
        [ 0.        , -1.81398127],
        [ 0.        , -1.80397558],
        [ 0.        , -1.79386265],
        [ 0.        , -1.78364449],
        [ 0.02503501, -1.77332666],
        [ 0.12679795, -1.76299152],
        [ 0.22830388, -1.7526729 ],
        [ 0.32962792, -1.74237094],
        [ 0.43072161, -1.73208578],
        [ 0.53159222, -1.72181757],
        [ 0.63224668, -1.71156643],
        [ 0.73267157, -1.70133252],
        [ 0.83290152, -1.69111598],
        [ 0.93287916, -1.68091695],
        [ 1.0326463 , -1.67073557],
        [ 1.13220887, -1.660572  ],
        [ 1.23148327, -1.65042637],
        [ 1.33056564, -1.64029884],
        [ 1.42941207, -1.63018956],
        [ 1.52803113, -1.62009867],
        [ 1.62640697, -1.61002632],
        [ 1.72456284, -1.59997267],
        [ 1.82249499, -1.58993787],
        [ 1.92016409, -1.57992208],
        [ 2.01761864, -1.56992544],
        [ 2.11483839, -1.55994812],
        [ 2.21180146, -1.54999026],
        [ 2.30853147, -1.54005204],
        [ 2.40502736, -1.5301336 ],
        [ 2.50128012, -1.5202351 ],
        [ 2.59727638, -1.51035671],
        [ 2.69303641, -1.50049859],
        [ 2.78856462, -1.4906609 ],
        [ 2.88382561, -1.4808438 ],
        [ 2.97884915, -1.47104745],
        [ 3.07362674, -1.46127203],
        [ 3.16815236, -1.4515177 ],
        [ 3.26242485, -1.44178462],
        [ 3.35644319, -1.43207296],
        [ 3.45021726, -1.42238289],
        [ 3.54371594, -1.41271458],
        [ 3.63698939, -1.40306821],
        [ 3.72998521, -1.39344393],
        [ 3.82274185, -1.38384193],
        [ 3.915241  , -1.37426237],
        [ 4.00745206, -1.36470543],
        [ 4.09942718, -1.35517129],
        [ 4.19114315, -1.34566011],
        [ 4.28258624, -1.33617209]]),
 5: array([[ 1.39325429, -1.92787589],
        [ 1.54751161, -1.91899241],
        [ 1.66362006, -1.91230332],
        [ 1.7843236 , -1.90534827],
        [ 1.9055128 , -1.89836173],
        [ 2.02630232, -1.89139749],
        [ 2.14702163, -1.8844342 ],
        [ 2.26763143, -1.87747419],
        [ 2.3881676 , -1.87051789],
        [ 2.50858562, -1.86356514],
        [ 2.62890427, -1.85661601],
        [ 2.74912067, -1.84967051],
        [ 2.86921496, -1.84272869],
        [ 2.98923229, -1.83579056],
        [ 3.10913535, -1.82885616],
        [ 3.22892996, -1.82192551],
        [ 3.3486103 , -1.81499865],
        [ 3.46820716, -1.80807561],
        [ 3.58767272, -1.80115642],
        [ 3.70702918, -1.79424111],
        [ 3.82628744, -1.78732971],
        [ 3.94543238, -1.78042225],
        [ 4.06446731, -1.77351877],
        [ 4.18338955, -1.76661929],
        [ 4.30220119, -1.75972385],
        [ 4.4209052 , -1.75283248],
        [ 4.53948018, -1.74594522],
        [ 4.65794707, -1.7390621 ],
        [ 4.77629752, -1.73218315],
        [ 4.89453354, -1.7253084 ],
        [ 5.01266102, -1.7184379 ],
        [ 5.13066298, -1.71157167],
        [ 5.24851437, -1.70470975],
        [ 5.3663107 , -1.69785218],
        [ 5.48395343, -1.69099899],
        [ 5.60147687, -1.68415021],
        [ 5.7188826 , -1.67730589],
        [ 5.8361608 , -1.67046606],
        [ 5.95332094, -1.66363076],
        [ 6.07035369, -1.65680002],
        [ 6.18726297, -1.64997388],
        [ 6.3040319 , -1.64315239],
        [ 6.42071018, -1.63633557],
        [ 6.53723275, -1.62952347],
        [ 6.65363584, -1.62271612],
        [ 6.76988676, -1.61591358],
        [ 6.88605798, -1.60911586],
        [ 7.00207103, -1.60232303],
        [ 7.11795967, -1.59553511],
        [ 7.233715  , -1.58875214],
        [ 7.34934487, -1.58197418],
        [ 7.46481689, -1.57520125],
        [ 7.58016142, -1.56843341],
        [ 7.69538103, -1.56167069],
        [ 7.810475  , -1.55491314],
        [ 7.92540527, -1.5481608 ],
        [ 8.04019147, -1.54141372],
        [ 8.15486298, -1.53467193],
        [ 8.26939478, -1.52793549],
        [ 8.38376749, -1.52120443]]),
 7: array([[ 3.01466708, -1.95974222],
        [ 3.17894041, -1.95316128],
        [ 3.30264294, -1.94820441],
        [ 3.43128119, -1.94304901],
        [ 3.56052393, -1.93786879],
        [ 3.68935146, -1.93270361],
        [ 3.81820093, -1.92753762],
        [ 3.94699243, -1.92237253],
        [ 4.07573224, -1.91720867],
        [ 4.20443197, -1.91204589],
        [ 4.33306556, -1.90688423],
        [ 4.46166374, -1.90172368],
        [ 4.59022024, -1.89656427],
        [ 4.71871616, -1.89140599],
        [ 4.84715493, -1.88624885],
        [ 4.97554736, -1.88109287],
        [ 5.103884  , -1.87593805],
        [ 5.23217925, -1.87078439],
        [ 5.36041435, -1.86563191],
        [ 5.48859458, -1.86048061],
        [ 5.61673461, -1.8553305 ],
        [ 5.74478751, -1.85018159],
        [ 5.87283536, -1.84503389],
        [ 6.00080978, -1.8398874 ],
        [ 6.12871869, -1.83474214],
        [ 6.25656264, -1.82959812],
        [ 6.38441974, -1.82445533],
        [ 6.51213419, -1.81931379],
        [ 6.63983205, -1.81417351],
        [ 6.76748892, -1.8090345 ],
        [ 6.89504201, -1.80389677],
        [ 7.02260185, -1.79876032],
        [ 7.15007492, -1.79362516],
        [ 7.27749104, -1.78849131],
        [ 7.40484209, -1.78335876],
        [ 7.53214249, -1.77822754],
        [ 7.65938045, -1.77309765],
        [ 7.78655076, -1.7679691 ],
        [ 7.9136987 , -1.7628419 ],
        [ 8.04076347, -1.75771606],
        [ 8.1677811 , -1.75259159],
        [ 8.29471582, -1.74746849],
        [ 8.42157623, -1.74234678],
        [ 8.54844163, -1.73722647],
        [ 8.67518868, -1.73210757],
        [ 8.80189466, -1.72699008],
        [ 8.92854791, -1.72187402],
        [ 9.05509779, -1.7167594 ],
        [ 9.18161288, -1.71164623],
        [ 9.30806929, -1.70653452],
        [ 9.43450078, -1.70142427],
        [ 9.56078682, -1.69631551],
        [ 9.68703328, -1.69120823],
        [ 9.81324008, -1.68610246],
        [ 9.93935633, -1.6809982 ],
        [10.06542124, -1.67589546],
        [10.19141421, -1.67079425],
        [10.31736705, -1.66569459],
        [10.44323678, -1.66059649],
        [10.5690282 , -1.65549995]])}

In [201]:
df_temp = pd.DataFrame({
    'reward': [2919398.51, 2958061.74, 3173207.71, 3351873.39],
    'day': [1,3,5,7]
})

(
    ggplot(df_temp, aes('day', 'reward', fill='reward'))
    + geom_col()
    + labs(x='Time at Sea, [Day]',
           y='Reward, [Pounds]',
           title='the Relationship between Time at Sea and Income',
           color='Reward')
).save('img/fish/the relationship between time spent at sea and income.png')

c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:727: PlotnineWarning: Saving 6.4 x 4.8 in image.
c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:730: PlotnineWarning: Filename: img/fish/the relationship between time spent at sea and income.png

In [150]:
df_list = []

for result in result_dict:
    df_temp = pd.DataFrame({
        't': result_dict[result][:,0],
        'reward': -result_dict[result][:,1] * 3179.1 * 12,
        'day': result,
        'time': np.linspace(2018, 2068, len(result_dict[result]))
    })
    df_list.append(df_temp)

df_temp = pd.concat(df_list)
df_temp

            t        reward  day         time
0    0.000000  73185.628347    1  2018.000000
1    0.000000  72763.822766    1  2018.847458
2    0.000000  72440.826528    1  2019.694915
3    0.000000  72100.141864    1  2020.542373
4    0.000000  71752.999175    1  2021.389831
..        ...           ...  ...          ...
55  10.065421  63934.071030    7  2064.610169
56  10.191414  63739.464104    7  2065.457627
57  10.317367  63544.916111    7  2066.305085
58  10.443237  63350.427479    7  2067.152542
59  10.569028  63155.998638    7  2068.000000

[240 rows x 4 columns]

In [176]:
(
    ggplot(df_temp, aes(color='factor(day)', group='day'))
    + geom_line(aes('time','reward'))
    + geom_hline(aes(yintercept=60700), linetype='--')
    + labs(x='Year',
           y='Reward, [Pounds]',
           title='Relationship between Average Annual Income of Fishermen and Time at Sea',
           color='Time at Sea, [Day]')
).save('img/fish/relationship between average annual income of fishermen and time at sea.png')

c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:727: PlotnineWarning: Saving 6.4 x 4.8 in image.
c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:730: PlotnineWarning: Filename: img/fish/relationship between average annual income of fishermen and time at sea.png

In [175]:
(
    ggplot(df_temp, aes(color='factor(day)', group='day'))
    + geom_line(aes('time','t'))
    + labs(x='Year',
           y='Voyage Time',
           title='the Relationship between Time of Voyage and Time at Sea',
           color='Time at Sea, [Day]')
).save('img/fish/the relationship between time of voyage and time at sea.png')

c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:727: PlotnineWarning: Saving 6.4 x 4.8 in image.
c:\environment\python3.8.5\lib\site-packages\plotnine\ggplot.py:730: PlotnineWarning: Filename: img/fish/the relationship between time of voyage and time at sea.png